




<div class="jumbotron custom-bg">
  <div class="media">
  <div class="media-left">
    <img src="https://picsum.photos/200" alt="Random user">
  </div>
  <div class="media-body">
    <h1><%= @user.name %></h1>
    <h3><%= @user.email %></h3>
  </div>
</div>
</div>

  <% @posts.each do |post| %>
    <div class="jumbotron">
      <h2><%= post.title %></h2>
      <p><%= post.body %></p>
      <% if current_user %>
        <h4>Author - <%= post.user.name %></h4>
      <% else %>
        <h4>
          Author - 
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
        </h4>
      <% end %>      
    </div>
  <% end %>